<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle Independiente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <h2 id="nombre_apellido"></h2>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div id="nombres" align="center" class="page-header">
        </div>
        <div class="media">
            <div id="foto" class="media-left media-middle">
            </div>
            <div id="detalle" style="padding-left: 1em" class="media-body">
            </div>
        </div>
        <div align="center" class="page-header">
            <h2>Comentarios</h2>
        </div>
        <div align="right">
            <a href="/" class="btn btn-default btn-default"><span
                    class="glyphicon glyphicon-step-backward">Volver</span></a>
        </div>
    </div>
</div>
<div class="row">
    <div style="box-shadow: 2px 2px 5px gray; border-radius: 5px" class="col-md-6 col-md-offset-3">
        <form> 
         <input id="correo" style="margin: 5px;" type="email" required placeholder="Correo">
         <textarea placeholder="Agreagar comentario" id="comentario" style="margin: 5px;" rows="3" cols="90" required></textarea>

        <a id="id_comentario" style="margin: 5px;" class="btn btn-default btn-success" title="Adicionar comentario">Comentar
        </a>
        </form>

     </div>
    </div>
    <div id="comentarios" class="row">
</div>

<p id="mensaje"><p>

<script>
        var nombre_trabajador = '{{detalles_trabajador.nombre}}',
            apellidos_trabajador = '{{detalles_trabajador.apellidos}}',
            h2 = document.querySelector("#nombre_apellido"),
            button = document.querySelector("#id_comentario");
            var trabajador = localStorage.getItem('trabajador');
            var parrafo = document.querySelector("#mensaje"); 

            button.addEventListener("click", function(){
                 parrafo.innerText = "Se registró exitosamente su comentario.";
            });

            h2.innerHTML += nombre_trabajador + " " + apellidos_trabajador;

</script>
</body>
</html>